@font-face {
    font-family: 'Angkor';
    src: url(./Angkor-Regular.ttf);
}

@font-face {
    font-family: 'Averia Libre';
    src: url(./AveriaLibre-Regular.ttf);
}

@font-face {
    font-family: 'Cocogoose';
    src: url(./cocogoose.ttf);
}
