html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    max-height: 100vh;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #19cdff;
}

body::-webkit-scrollbar-thumb {
    background-color: #8de4ff;
    border-radius: 10px;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 40px 140px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 3;
    display: none;
}

.home {
    width: 100%;
    height: 100vh;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.desktop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.mobile {
    display: none;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: bottom right;
    background-position: right center;
    background-repeat: no-repeat;
    z-index: -1;
}

.box {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -25%;
}

.content img {
    max-height: 170px;
    margin-bottom: 70%;
    transition: 0.5s;
    filter: drop-shadow(8px 6px 2.5px #00000043);
}

.content img:hover {
    transform: scale(1.05);
    z-index: 3;
}

.background2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(../image/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(4px);
}

.background2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.history {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 0%;
    margin-bottom: 20%;
}

.texto {
    padding: 0px 50px 0px 140px;
    text-align: justify;
}

.texto h1 {
    font-size: 40px;
    font-family: 'Angkor';
    color: #FFDD01;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    text-align: center;
    animation: textoh1 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 60%;
}

@keyframes textoh1 {
    from {
        opacity: 0;
        translate: -10vw 0vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}


.texto p {
    font-size: 25px;
    font-family: 'Averia Libre';
    color: white;
    animation: textop 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 53%;
}

@keyframes textop {
    from {
        opacity: 0;
        translate: -10vw 0vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.divisao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFA0CE;
    height: 600px;
}

.manga img {
    height: 700px;
    margin-right: 140px;
    animation: manga 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

@keyframes manga {
    from {
        opacity: 0;
        translate: 20vw 0vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}


.container {
    position: relative;
    width: 100%;
    z-index: 0;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(../image/wave2.png);
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 0.3;
    background-position-x: 600px;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.3;
    background-position-x: 400px;
}

.wave#wave3 {
    z-index: 998;
    opacity: 0.3;
    background-position-x: 200px;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.3;
    background-position-x: 100px;
}

@keyframes animate {
    0%,100%{
        transform: translateX(0px);
    }
    50%{
        transform: translateY(20px);
    }
}

.background_color {
    background: #0abdeed3;
}

.about {
    width: 100%;
    height: 100%;
    position: relative;
}

.divisao_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto_2 {
    padding: 0px 50px 0px 140px;
    text-align: justify;
}

.texto_2 h1 {
    font-size: 40px;
    font-family: 'Angkor';
    color: #FFDD01;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    text-align: center;
    animation: texto2h1 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 55%;
}

@keyframes texto2h1 {
    from {
        opacity: 0;
        translate: 0vw 20vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.texto_2 p {
    font-size: 25px;
    font-family: 'Averia Libre';
    color: white;
    animation: texto2p 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

@keyframes texto2p {
    from {
        opacity: 0;
        translate: 0vw 10vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.forma {
    background-color: #FFA0CE;
    width: 900px;
    height: 865px;
    align-items: center;
    display: flex;
    border-radius: 100px 0px 0px 100px;
    animation: forma 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

@keyframes forma {
    from {
        opacity: 0;
        translate: 20vw 0vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.forma img {
    height: 1100px;
    transform: scaleX(-1);
    margin-right: 140px;
    animation: formaimg 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

@keyframes formaimg {
    from {
        opacity: 0;
        translate: 50vw 0vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.forma_2 {
    width: 100%;
    background-color: #ffb9e3;
    padding: 0% 10% 0% 140px;
    margin-top: 4%;
    height: 240px;
    box-shadow: 10px 10px 20px #00000040;
}

.team img {
    height: 240px;
    animation: team 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

@keyframes team {
    from {
        opacity: 0;
        translate: -10vw 0vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.akira {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 15% 0% 10% 0%;
}

.forma_3 {
    background: rgba(255, 255, 255, 0.37);
    width: 1400px;
    height: 800px;
    border-radius: 100px;
    justify-content: center;
    padding: 100px;
    animation: forma3 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

@keyframes forma3 {
    from {
        opacity: 0;
        translate: -50vw 0vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}


.divisao_3 {
    flex-direction: column;
}

.divisao_3 p {
    font-size: 25px;
    font-family: 'Averia Libre';
    color: white;
}

.divisao_4 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    align-items: flex-end;
}

.divisao_4 p {
    font-size: 25px;
    font-family: 'Averia Libre';
    color: white;
}

.divisao_4 img {
    height: 120px;
}

.homenagem {
    display: flex;
    justify-content: center;
}

.forma_4 {
    background: rgba(255, 255, 255, 0.37);
    width: 1400px;
    height: 30%;
    border-radius: 100px;
    justify-content: center;
    padding: 100px;
    animation: forma4 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

@keyframes forma4 {
    from {
        opacity: 0;
        translate: 50vw 0vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.divisao_5 {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.akira_img {
    height: 600px;
    border-radius: 100px;
    float: left;
    margin-right: 3%;
}


.texto_3 {
    font-size: 25px;
    font-family: 'Averia Libre';
    color: white;
    display: flex;
}

.obras {
    display: flex;
    justify-content: flex-end;
    gap: 33px;
    margin: 2% 15% 0% 0%;
}

.obras img {
    height: 290px;
    filter: drop-shadow(5px 6px 4px #00000043);
    animation: obras 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 35%;
}

@keyframes obras {
    from {
        opacity: 0;
        translate: 0vw 20vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.midia h1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: -10%;
    font-size: 40px;
    font-family: 'Angkor';
    color: #FFDD01;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    animation: midiah1 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 55%;
}

@keyframes midiah1 {
    from {
        opacity: 0;
        translate: 0vw 20vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.gallery {
    width: 100%;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 300px;
    margin: 20% 30% 5% 30%;
    max-width: 1000px;
    position: relative;
}

.gallery-item{
    height: 450px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    border-radius: 20px;
    background-size: contain;
}

.gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
    animation: gallery3 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.gallery-item-2, .gallery-item-4{
    height: 500px;;
    opacity: 0.8;
    z-index: 1;
}

.gallery-item-2{
    left: 30%;
    transform: translateX(-50%);
    animation: gallery3 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.gallery-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
    height: 550px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    animation: gallery3 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

@keyframes gallery3 {
    from {
        opacity: 0;
        translate: 0vw 50vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
    animation: gallery3 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
    animation: gallery3 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}


.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 7% 0px 7% 0px;
    height: 100px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    padding: 0 12px;
    text-transform: uppercase;
    font-size: 35px;
    color: #FFDD01;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
    transition: 0.5s;
}

.gallery-controls button:hover {
    transform: scale(1.1);
    z-index: 3;
    color: #ffdd0100;
}

.gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
    font-family: 'Angkor'; 
    animation: previous 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 15%;
}

@keyframes previous {
    from {
        opacity: 0;
        translate: -50vw 0vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.gallery-controls-previous::before {
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 5px;
    position: absolute;
    top: 20%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous:hover::before {
    left: -40px;
}

.gallery-controls-next {
    position: relative;
    font-family: 'Angkor';
    margin: 0 50px;
    animation: next 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 15%;
}

@keyframes next {
    from {
        opacity: 0;
        translate: 50vw 0vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.gallery-controls-next::before {
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 5px;
    position: absolute;
    right: -30px;
    top: 35%;
    transform: rotate(-45deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-next:hover:before {
    right: -40px;
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background: #555;
}

.avaible {
    height: 100vh;
    margin-top: 10%;
    margin-bottom: 0%;
}

.editions {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.standard {
    animation: standard 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

@keyframes standard {
    from {
        opacity: 0;
        translate: -50vw 0vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.deluxe {
    animation: deluxe 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

@keyframes deluxe {
    from {
        opacity: 0;
        translate: 50vw 0vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.standard_img img{
    width: 479px;
    height: 268px;
    margin-bottom: -1%;
}

.standard_title {
    background: #00B9EF;
    width: 479px;
    height: 77px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.standard_title h1 {
    font-size: 30px;
    font-family: 'Angkor';
    display: flex;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}

.bloco_1 {
    width: 479px;
    height: 360px;
    background: #00A4D3;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 30px;
    gap: 70%;
}

.standard_description {
    align-items: start;
}

.standard_description p {
    font-size: 25px;
    font-family: 'Averia Libre';
    display: flex;
    color: white;
}

.standard_stores {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.standard_stores img {
    height: 50px;
    flex-direction: row;
    transition: 0.5s;
}

.standard_stores img:hover {
    transform: scale(1.1);
    z-index: 3;
}

.deluxe_img img{
    width: 479px;
    height: 268px;
    margin-bottom: -1%;
}

.deluxe_title {
    background: #00B9EF;
    width: 479px;
    height: 77px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.deluxe_title h1 {
    font-size: 30px;
    font-family: 'Angkor';
    display: flex;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}

.bloco_2 {
    width: 479px;
    height: 360px;
    background: #00A4D3;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 30px;
    gap: 32%;
}

.deluxe_description {
    align-items: start;
}

.deluxe_description p {
    font-size: 25px;
    font-family: 'Averia Libre';
    display: flex;
    color: white;
}

.deluxe_stores {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.deluxe_stores img {
    height: 50px;
    flex-direction: row;
    transition: 0.5s;
}

.deluxe_stores img:hover {
    transform: scale(1.1);
    z-index: 3;
}

.avaible_title {
display: flex;
justify-content: center;
font-size: 40px;
margin-bottom: 2%;
font-family: 'Angkor';
color: #00B9EF;
-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: #000;
}

.footercontainer {
    display: flex;
    justify-content: flex-end;
    background-color: #FFDD01;
    height: 300px;
    align-items: center;
    gap: 200px;
}

.footer_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5%;
}

.socialMedia {
    display: flex;
    gap: 15px;
} 

.socialMedia img {
    height: 35px;
    transition: 0.5s;
}

.socialMedia img:hover {
    transform: scale(1.1);
    z-index: 3;
}

.sandlandFooter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sandlandFooter_text {
    font-size: 15px;
    font-family: 'Averia Libre';
    display: flex;
    color: white;
    text-align: center;
    margin-top: 1%;
}

.sandlandFooter_img img {
    height: 60px;
    margin-top: 10%;
    transition: 0.5s;
}

.sandlandFooter_img img:hover {
    transform: scale(1.05);
    z-index: 3;
}

.team2 {
    display: flex;
    align-self: flex-end;
}

.team2 img {
    height: 350px;
}

@media screen and (max-width: 1016px) {
    .content img {
        max-height: 120px;
        margin-bottom: 90%;
        margin-left: 30%;
        transition: 0.5s;
    }
}